html,
body,
#root,
.App {
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(230, 82, 82);
}

.App-logo {
  min-width: 80%;
  max-width: 90%;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav,
.GameNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background-color: rgb(102, 102, 245);
  color: whitesmoke;
  box-shadow: 0 0 4px red;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

.GameNav {
  justify-content: space-around;
}
.GameNav div {
  display: flex;
  align-items: center;
}

.GameNav ul {
  display: flex;
  gap: 1rem;
}

.GameNav button,
form button {
  font-size: 2rem;
  font-weight: bold;
  background-color: rgb(230, 82, 82);
  border-radius: 10px;
  border: none;
  color: whitesmoke;
  padding: 1rem 1.5rem;
  border: 1px solid darkblue;
}

button:hover {
  box-shadow: 0 0 4px whitesmoke;
  cursor: pointer;
}

.GameNav img {
  max-height: 10vh;
}

.GameNav ul img {
  max-height: 6vh;
  border: 1px solid white;
  border-radius: 100%;
}

.Nav span,
.GameNav span {
  color: red;
}

.logo {
  max-height: 10vh;
}

.levelDisplay ul {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 2rem;
  padding: 4rem;
}

.LevelCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 4px black;
}

.LevelCard:hover {
  box-shadow: 0 0 4px whitesmoke;
}

.LevelCard div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(228, 52, 52);
  max-height: 15vh;
  padding: 4px;
}

.LevelCard h2 {
  color: rgb(48, 48, 230);
  text-align: center;
  border-bottom: 1px solid whitesmoke;
}

.LevelCard span {
  color: whitesmoke;
}

.LevelCard img {
  max-height: 30vh;
  object-fit: cover;
}

.LevelCard ul {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  gap: 0.5rem;
  padding: 0;
}

.LevelCard ul img {
  max-height: 5vh;
}

.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checks img {
  max-height: 12vh;
  transform: translate(-50%, -50%);
}

.board {
  width: 100%;
}

.container {
  width: 90%;
  padding: 2rem 0;
}

.charPick ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid whitesmoke;
  border-radius: 8px;
  padding: 0;
}

.charPick li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  gap: 0.5rem;
  color: white;
  background-color: rgb(228, 52, 52);
  padding: 1vh;
  width: 15vw;
  border-bottom: 1px solid whitesmoke;
  border-radius: 2px;
  font-weight: bold;
}

.charPick li:hover {
  cursor: pointer;
  color: rgb(102, 102, 245);
  font-style: italic;
}

.charPick img {
  max-height: 4vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

dialog,
.test {
  position: fixed;
  margin: 0;
  padding: 2rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: whitesmoke;
  border-radius: 0.25rem;
  z-index: 10;
}

form {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  align-items: center;
  font-size: 4vw;
  color: rgb(230, 82, 82);
  font-weight: bold;
}

label {
  border-bottom: 1px solid rgb(230, 82, 82);
}

form button {
  font-size: 3vw;
  padding: 0.5rem;
}

form h5 {
  margin: 0;
  padding: 0.2rem;
  box-shadow: 0 0 4px rgb(230, 82, 82);
}

input {
  width: 90%;
  color: rgb(230, 82, 82);
  font-size: 3vw;
  font-weight: 500;
}
